@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root {
    --Orange: hsl(26, 100%, 55%);
    --Pale-orange: hsl(25, 100%, 94%);
    --Very-dark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: #fff;
    --light-font: 400;
    --bold-font: 700;
    font-size: 16px;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans';
    text-rendering: smooth;
}


img {
    max-inline-size: 100vw;
}

main {
    position: relative;
}

a {
    text-decoration: none;
    font-weight: 600;

}

ul {
    list-style: none;
}

header {
    display: flex;
    padding-inline: 1rem;
    justify-content: space-between;
}

.avatar {
    height:25px;
}

.logo {
    padding-block: 1.5rem;
}

.user-functions,
.menu-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav {
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 5rem 2rem;
    z-index: 100;
    width: 60%;
    background-color: #fff;
    display: none;
}

nav a {
    color: var(--Very-dark-blue);
    font-size: 1.2rem;
    font-weight: 700;
    display: block;
}

nav a:not(:last-child){
    margin-bottom: 1rem;
}

nav li {
    margin-bottom: 1rem;
}

.open,
.close {
    z-index: 200;
}

.close {
    display: none;
}

.cart-wrapper {
    position: relative;
}

.cart-icon {
    cursor: pointer;
    z-index: 900;
}

.cart-icon:hover {
    cursor: pointer;
}

.counter {
    position: absolute;
    top: -.3rem;
    right: -.5rem;
    font-size: .6rem;
    color: #fff;
    font-weight: 600;
    padding: .1em .75em;
    background-color: var(--Orange);
    border-radius: 5px;
    display: none;

}

.gallery_mobile {
    position: relative;
    overflow: hidden;
}

.gallery_mobile .product {
    display: none;
    object-fit: cover;
    transform: scale(1.2);
    transition: transform .3s ease;
}



.gallery_mobile:hover .switcher {
    transform: scale(1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
}

.switcher {
    display: none;
}

.gallery_mobile .product:first-child {
    display: block;
}

.arrow-bg {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
}

.arrow {
    height: 15px;
    position: relative;
}

.prev {
    transform: translateX(-15%);
}

.next {
    transform: translateX(15%);
}

.gallery_desktop {
    display: none;
}

.product-data {
    padding: 1.5rem;
}

.subtitle {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8rem;
    color: var(--Dark-grayish-blue);
    letter-spacing: 2px;
    margin-bottom: 1em;
}

h1 {
    font-size: 1.8rem;
    color: var(--Very-dark-blue);
    margin-bottom: 1rem;
}

p {
    color: var(--Dark-grayish-blue);
    line-height: 1.5;
    margin-bottom: 2em;
}

span {
    display: inline-block;
}

.product-data_pricing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}



.price {
    color: var(--Very-dark-blue);
    font-size: 1.8rem;
    font-weight: 700;
    margin-right: 1rem;
}

.discount {
    padding: .25em .5em;
    
    font-weight: 500;
    color: #fff;
    background-color: var(--Very-dark-blue);
    border-radius: 5px;
}

.original-price {
    font-weight: 600;
    color: var(--Dark-grayish-blue);
    text-decoration: line-through;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    width: 100%;
    padding: 1.2rem;
    border-radius: 10px;
    border: none;
    background-color: var(--Light-grayish-blue);
    font-family: inherit;
    font-weight: 700;
    text-align: center;
    font-size: 1rem;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

form {
    position: relative;
    margin-bottom: 1rem;
}

.minus,
.plus {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}

.minus {
    left: 1.5rem;
}

.plus {
    right: 1.5rem;
}

.btn {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--Orange);
    color: var(--Very-dark-blue);
    font-weight: 800;
    transition: all .5 ease-in;
}

.btn img {
    margin-right: 1rem;
    transform: translateY(15%);
}

.page-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 99;
    opacity: 0;
    
    display: none;
    transition: display .3s ease-in;
}

.cart-content {
    padding: 2rem;
    width: 90%;
    max-width: 500px;
    position: absolute;
    top: 5rem;
    z-index: 100;
    background-color: #fff;
    right: 1rem;
    
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, .5);
    display: none;
    
}

.cart-header {
    font-weight: 700;
    margin-bottom: 1rem;
}

.cart-empty p {
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 2rem;
    font-size: 1.3rem;
}

.cart-flex {
    margin-block: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product_name {
    margin-bottom: 0;
    font-size: .8rem;
}

.cart-price,
.amount {
    color: var(--Grayish-blue);
}

.overall {
    font-weight: 700;
}

.cart-empty {
    text-align: center;
    padding-block: 2rem;
}

.cart-content a {
    display: block;
    text-align: center;
    color: var(--Very-dark-blue);
    padding: 1em;
    background-color: var(--Orange);
    border-radius: 10px;
    font-weight: 700;
}



.cart_img {
    height: 50px;
    border-radius: 5px;
}

.content {
    display: none;
}

.plus:hover,
.minus:hover {
    cursor: pointer;
    opacity: .7;
}

.avatar:hover {
    outline: 2px solid var(--Orange);
    border-radius: 50%;
    cursor: pointer;
}

.cart-icon:hover {
    filter: brightness(0);
}

.btn:hover {
    background-color: var(--Pale-orange);
}

.delete:hover {
    cursor: pointer;
    filter: brightness(0);
}





.lightbox {
    display: none;
}


@media screen and (min-width: 1000px) {
    :root {
        font-size: 18px;
    }

    h1 {
        font-size: 3rem;
    }

    .container {
        padding-inline: 6rem;
    }

    header {
        padding-inline: 0;
        border-bottom: 2px solid hsla(219, 9%, 45%, .2);
        max-width: 1440px;
        margin-inline: auto;
    }

    .overlay {
        display: none;
    }

    .open,
    .close {
        display: none;
    }

    nav {
        position: unset;
        display: unset;
        background-color: transparent;
        height: unset;
        width: unset;
        padding: 0;
        margin-left: 2rem;
    }

    nav li {
        display: inline;
        margin-left: 2rem;
    }

    nav li a {
        position: relative;
        display: inline-block;
        color: var(--Dark-grayish-blue);
        font-weight: 400;
        font-size: 1rem;
    }

    .logo {
        padding-block: 3rem;
    }

    .avatar {
        height: 50px;
    }

    .cart-content {
        right: 2rem;
        top: 1rem;
    }

    main {
        display: flex;
        align-items: center;
        padding-block: 5rem;
        gap: 5rem;
        max-width: 1440px;
        margin-inline: auto;
        position: relative;
    }

    .gallery {
        flex: 2 2 auto;
        
       
        
    }

    .product-data {
        flex: 3 3 auto;
    }

    .gallery_mobile .product:first-child {
        display: none;
    }


    

    .product,
    .switcher {
        max-inline-size: 100%;
        object-fit: contain;
        border-radius: 20px;
        min-height: 300px;
    }

    .switcher {
        display: block;
        transform: scale(1.2);
        border-radius: 20px;
        transition: transform .3s ease-in;
    }

    .product_name {
        font-size: 1rem;
    }

    .cart_img {
        height: 50px;
    }

    .gallery_mobile {
        width: fit-content;
        margin-bottom: 1rem;
        border-radius: 20px;
    }

    .gallery_mobile img
    {
        border-radius: 20px;
        
        object-fit: contain;
    }

    .gallery_mobile .product {
        display: none;
    }



    .gallery_desktop {
        display: unset;
        display: flex;
        gap: 1rem;
    }

    .gallery_desktop img {
        max-width: 23%;
        border-radius: 20px;
    }

    .product-data_pricing {
        flex-direction: column;
        align-items: start;
    }

    .form-wrapper {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    form {
        margin-bottom: 0;
    }

    .cart-icon {
        transform: scale(1.2);
    }

    .gallery_desktop img:hover,
    .gallery_mobile img:hover {
        opacity: .6;
        cursor: pointer;
    }

    nav a::after {
        content: '';
        position: absolute;
        height: 5px;
        width: 0%;
        bottom: -3rem;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--Orange);
        transition: all .3s ease-out;
        transform-origin: center;
    }

    nav a:hover {
        color: var(--Very-dark-blue);
    }

    nav a:hover::after {
        width: 100%;
    }

    .active {
        opacity: .7;
        outline: 5px solid var(--Orange);
    }

    .lightbox {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, .7);
        z-index: 700;
        display: none;
       
    }

    .lightbox-wrapper {
        position: relative;
        max-width: 60%;
    }

    .lightbox-wrapper img {
        border-radius: 20px;
        max-width: 100%;
       
    }

    .lightbox-close {
        position: absolute;
        right: 0;
        top: -3rem;
        transform: scale(1.5);
    }

    .lightbox-close:hover {
        cursor: pointer;
        filter: saturate(1000) sepia(100);
    }

    .lightbox-arrow-bg {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .lightbox-overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .lightbox-next:hover,
    .lightbox-prev:hover {
        cursor: pointer;
        opacity: .7;
    }

    

    
}

